/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
}
h1 {
   -webkit-text-stroke: 2px black;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.navLink{
  color:white;
}

input, textarea{
    color: black;

}
#daytomeetlabel{
  font-size: 15px;

}

.input-field > input{
  margin-top:5px;
}

#nav-mobile.side-nav{
  background-color: #424242;
  opacity: 0.8;
}
right hide-on-med-and-down>li>a>i.material-icons{
  color:white;
}
#nav-mobile>li>a:active{
  background-color: black;
}
#nav-mobile>li>a:hover{
  background-color: #212121 ;
}#nav-mobile>li>a{
  color:white;
}
#nav-mobile>li{
  padding: 0px;
}

#dropdown1>li>a{
  color:#03a9f4;
}
#dropdown2>li>a{
  color:black;
}
.parallax-container{
  padding-top:90px;
  height:500px;
}
h4{
  text-decoration: underline;
}
